<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Evil" />
    <meta name="description" content="symfony creation controller et views" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>symfony</title>
</head>
<body>

    <main>

        <h1>La liste des articles</h1>

        {% for article in articles %}

            <article>

                <h2>{{ article.title }}</h2>

            </article>

        {% endfor %}
        
    </main>

</body>
</html>